
:root {
    --colorBackground: #FFF;
    --colorHeader: #AAA;
    --colorSidebar: #CCC;
    --colorText: #000;
    --colorCardBackground: #191919;
    --colorCardTitleBackground:#191919;
    --colorCardTitleBorder: #F62211;
}

body{
    font-family: 'Six Caps', sans-serif;
    background-image: url(../img/FIOE.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-size: auto 100vh;
    color: #FFF;
}




main.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    
}

.home div {
    flex: 0 1 180px;

}

.home .layercake {
    flex: 0 1 200px;
}



.home .layercake h2 {
    font-size: 3rem;
    font-weight: normal;
}


.lower-right {
    position: fixed;
    left: 30px;
    bottom: 30px;
    font-size: 3rem;
    color: #FFF;
    font-weight: normal;
}

img.selfie {
    flex:0 1 200px;
    width: 200px;
    border-radius: 100px;
}




main.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 10% 0 10%;
}

.cards .card {
    height: 450px;
    flex: 1 0 30%;
    min-width: 350px;
    margin: 45px;
    background-image: url("../img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: none;
    border-radius: 1rem;
}

.cards .card:first-child {
    flex: 1 1 85%;
}

/* Card Content*/

.cards .card .spacer {
    height: 150px;
    width: 100%;
    background: none;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.cards .card .spacer h3 {
    position: relative;
    bottom: -7.5rem;
    border: var(--colorCardTitleBorder) 3px solid;
    border-radius: 5px;
    padding-top: .2rem;
    background-color: var(--colorCardTitleBackground);
    font-size: 3rem;
    width: 400px;
    height: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.cards .card .card-body {
    background-color: var(--colorCardBackground);
    height: 300px;
    width: 100%;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

.cards .card .card-body p {
    text-align: left;
    flex: 0 0 80%;
    font-size: 1.5rem;
}




.contact {
    width: 80vw;
    margin: 0 20vw;
}

.contact h1 {
    float:right;
    margin: 4vh 5vw 0 0;
    font-size: 6rem;
}

main.contact {
    margin: 40vh 0 0 5vw;

    float: left;
    font-size: 3rem;
    line-height: 4rem;
    
}

.top-left {
    position: fixed;
    top: 5vh;
    left: 5vw;
    font-size: 3rem;
}




.work {
    text-align: right;
    width: 80vw;
    margin: 0 20vw 0 15vw;
}

.work h1 {

    margin: 4vh 0vw 0 0;
    font-size: 6rem;
}



header.about {
    width: 80vw;
    margin: 0 20vw;
}

header.about h1 {
    float:right;
    margin: 4vh 5vw 0 0;
    font-size: 6rem;
}

main.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 60vh;
    width: 100vw;
    font-size: 2rem;
}

.about section:first-child {
    flex: 0 0 300px;
    margin-left: 10vw;
    
}

.about div {
    flex: 0 1 400px;

}

.about section img {
    margin-right: 10vw;
    width: 300px;
    border-radius: 150px;
}
.smaller-text {
    font-size: 1rem;
    font-family: 'Quicksand';
}