
:root {
    --colorBackground: #FFF;
    --colorHeader: #AAA;
    --colorSidebar: #CCC;
    --colorText: #000;
    --colorCardBackground: #191919;
    --colorCardBackgroundHover: #212121;
    --colorCardTitleBackground:#191919;
    --colorCardTitleBorder: #F62211;
}


body{
    font-family: 'Six Caps', sans-serif;
    background-image: url(../img/FIOE.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-size: auto 100vh;
    color: #FFF;
}




main.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100vh;
    width: 100vw;
    
}

.home div {
    flex: 0 1 180px;
    animation: linear 100ms;

}

.home .layercake {
    flex: 0 1 200px;
    animation: linear 100ms;
}



.home .layercake h2 {
    font-size: 3rem;
    font-weight: normal;
    animation: linear 100ms;
}


.lower-left {
    position: fixed;
    left: 30px;
    bottom: 30px;
    font-size: 3rem;
    color: #FFF;
    font-weight: normal;
    animation: linear 100ms;
}

img.selfie {
    flex:0 1 200px;
    width: 200px;
    border-radius: 50%;
    animation: linear 100ms;
}




main.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 10% 0 10%;
}

.cards .card {
    height: 450px;
    flex: 1 0 30%;
    min-width: 250px;
    margin: 45px;
    background-image: url("../img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: none;
    border-radius: 1rem;
    animation-timing-function: linear;
    animation-duration: 25ms;
}

.cards .card:hover .card-body{
    background-color: var(--colorCardBackgroundHover);
}

.cards .card:first-child {
    flex: 1 1 85%;
}

/* Card Content*/

.cards .card .spacer {
    height: 150px;
    width: 100%;
    background: none;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.cards .card .spacer h3 {
    position: relative;
    bottom: -7.5rem;
    border: var(--colorCardTitleBorder) 3px solid;
    border-radius: 5px;
    padding-top: .2rem;
    background-color: var(--colorCardTitleBackground);
    font-size: 3rem;
    width: 100%;
    height: 4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.cards .card .card-body {
    background-color: var(--colorCardBackground);
    height: 300px;
    width: 100%;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
}

.cards .card .card-body p {
    text-align: left;
    flex: 0 0 80%;
    font-size: 1.5rem;
}




.contact {
    width: 80vw;
    margin: 0 20vw;
}

.contact h1 {
    float:right;
    margin: 4vh 5vw 0 0;
    font-size: 6rem;
}

main.contact {
    margin: 40vh 0 0 5vw;

    float: left;
    font-size: 3rem;
    line-height: 4rem;
    
}

.top-left {
    position: fixed;
    top: 5vh;
    left: 5vw;
    font-size: 3rem;
}




.work {
    text-align: right;
    width: 80vw;
    margin: 0 20vw 0 15vw;
}

.work h1 {

    margin: 4vh 0vw 0 0;
    font-size: 6rem;
}



header.about {
    width: 80vw;
    margin: 0 20vw;
}

header.about h1 {
    float:right;
    margin: 4vh 5vw 0 0;
    font-size: 6rem;
}

main.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 60vh;
    width: 100vw;
    font-size: 2rem;
}

.about section:first-child {
    flex: 0 0 300px;
    margin-left: 10vw;
    
}

.about div {
    flex: 0 1 400px;

}

.about section img {
    margin-right: 10vw;
    width: 300px;
    border-radius: 150px;
}
.smaller-text {
    font-size: 1rem;
    font-family: 'Quicksand';
}


@media screen and (max-width: 840px) {

    main.home {
        display: flex;
    }

    .home div {
        flex: 120px;
    }

    .home .layercake{
        flex: 1 1 150px;
        margin-left: 10vw;
    }

    img.selfie {
        flex: 150px;
        width:150px;
        margin-right: 10vw;
    }


    .about section img {
        width:190px;
        margin-right: 8vw;
    }

    .about section:first-child {
        flex: 0 0 220px;
        margin-left: 8vw;
    }



    main.cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:0 4vw 0 4vw;
    }

    .cards .card .spacer h3 {
        font-size: 2.25rem;
    }
    
    main.contact {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    

}

@media screen and (max-width: 600px) {

    .home div {
        flex: 0px;
    }

    .lower-left {
        font-size: 2rem;
    }

    .top-left {
        font-size: 2rem;
    }

    .home .layercake h2{
        font-size: 2rem;
    }

    img.selfie {
        flex: 120px;
        width:120px;
        margin-right: 10vw;
    }

    .about section img {
        width:130px;
        margin-right: 6vw;
    }

    .about section:first-child {
        flex: 0 0 130px;
        margin-left: 6vw;
        font-size: 1.5rem;
        width: 130px;
    }



    main.cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    cards .card {
        min-width: 250px;
    }

    .cards .card .spacer h3 {
        font-size: 1.5rem;
    }

    .cards .card .card-body p {
        font-size: 1rem;
    }

    header.about h1,
    header.work h1,
    header.contact h1 {
        font-size: 4rem;
    }



    main.contact {
        margin-top: 50vh;
        font-size: 2rem;
        line-height: 2.75rem;
    }
}