





/*TODO Fix Colors*/


/*TODO Fix font formatting */


/* Plenty of placeholders left in doc to make editting easier. */

body {
 background: springgreen;
}

/* Heading */

header {
    padding: 0 30px 0 30px;
    width: 100%;
    background-color: #BBB;
}
/* push to far sides of header, force content to vertical center */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-size: 4rem;
}

.nav-list {
    margin: 10px 0;
}

.nav-list li {
    margin: 0 0 0 26px;
    font-size: 2rem;
    line-height: 2.5rem;
}
/* link formatting is bad */
/*TODO FIX ACCESSIBILITY, ACTIVE */
.nav-list li a{
    color: inherit;
    text-decoration: none;
}






/* flex columns for dividing about and work sections */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
}
/* flex rows for label div and main div separation */
main section {
    flex: 0 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: khaki;
}
/* label formatting */
.label {
    align-items: right;
    text-align: right;
    margin: 20px 10px;
    border-right: 2px solid #333;
    min-width: 80px;
    flex: 0 0 350px;
}

.label h2 {
    font-size: 3rem;
    margin-right: 10px;
}

/* padding to match label margins */
.about-me {
    background-color: lightgray;
    padding: 20px;
    font-size: 1.5rem;
}



/* Card View section */
/* Uses Flexbox to automatically size items */
.cards {
    flex: 1 1 300px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}

.cards .card {
    height: 450px;
    background-color: lightcoral;
    flex: 1 0 30%;
    min-width: 350px;
    margin: 15px;
    background-image: url("../images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.cards .card:first-child {
    flex: 1 1 90%;
}


/*TODO push all this into work label section*/
.contact-container {
    flex: 1 1 300px;
    display: flex;
    background-color: lightsalmon;
    align-items: center;
    padding: 30px;

}

.contact-list {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.contact-list>li {
    flex: 1 1 30px;
}

.contact-list li a {
    color: inherit;
    text-decoration: inherit;
    display: block;
    padding: 4px 16px;
}


/* 
    KEEP THIS LAST
*/
/* Currently usused */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}