body{
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 88px;
}

header{
    width: 100%;
    height: 88px;
    background-color: powderblue;
    margin: 0%;
    position: fixed;
    top: 0;
}

header h1 {
    font-family: 'Eczar', Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 200;
    padding: 20px;
}

main {
    display: inline-block;
    width: 100%;
}

main aside{
    width: 20%;
    height: 100%;
    background-color: royalblue;
    display: inline-block;
}

main div{
    width: 80%;
    display: inline-block;
}


footer{
    width: 100%;
    height: 44px;
    background-color: powderblue;
}