@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.black);
  --background-start: theme(colors.slate.300);
  --background-end: theme(colors.white);
	--background: theme(colors.white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme(colors.white);
    --background-start: theme(colors.black);
    --background-end: theme(colors.black);
		--background: theme(colors.black);
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}
